
header, .navbar {
  background-color: #4E6172;
  padding: 10px;
  color: white;
}

body {
  background-color: #F5F2D0;
}

nav {
    padding-top: 12px;
    padding-bottom: 12px;
  }
nav .btn {
  background-color: #4E6172;
  color: #fef9ff;
}

a:link {
  background-color: #4E6172;
}

a:visited {
  background-color:green;
}
nav .btn:hover {
  font-weight: bold;
  }

.navbar  {
  width: 100%;
}
